
.img_cabecalho{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto

}


.video_coldwar{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img_verdanxk{
    width: 700;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto

}
